<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Actions</title>
</h:head>
<h:body>
    <h:form>
        <p:panel>
            <h:link outcome="#{navigation.home}" value="Home"/>
            <p:spacer width="30" height="1"/>
            <h:link outcome="#{navigation.register}" value="Register"/>
            <p:spacer width="30" height="1"/>
            <h:link outcome="#{navigation.login}" value="Login"/>
            <p:spacer width="30" height="1"/>
            <p:commandLink action="#{userSession.logout}" value="Log Out"/>
            <p:spacer width="30" height="1"/>
            <p:link outcome="#{navigation.actions}" value="Actions"/>
        </p:panel>
        <p:panel visible="#{userSession.loggedIn}">
            <h:outputLabel value="Welcome, #{userSession.loggedInUser.firstName}"/>
        </p:panel>
        <p:panel header="Create meeting" visible="#{userSession.loggedIn}" rendered="#{userSession.loggedIn}">
            <p:panelGrid id="meetingPanel">
                <p:row>
                    <p:column>
                        <p:outputLabel value="Name"/>
                        <p:inputText value="#{actionsBean.name}"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Objective"/>
                        <p:inputText value="#{actionsBean.objective}"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Start Date"/>
                        <p:calendar value="#{actionsBean.startDate}" pattern="MM/dd/yyyy HH:mm:ss" id="startDate">
                            <p:ajax event="dateSelect" listener="#{actionsBean.onDateSelect}"
                                    update="startDate endDate"/>
                        </p:calendar>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="End Date"/>
                        <p:calendar value="#{actionsBean.endDate}" pattern="MM/dd/yyyy HH:mm:ss" id="endDate"
                                    maxdate="#{actionsBean.startDate}"
                                    disabled="#{empty actionsBean.startDate}"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:pickList value="#{actionsBean.participants}" var="user"
                                    itemValue="#{user}" itemLabel="#{user.email}" showSourceControls="true"
                                    showTargetControls="true" showCheckbox="true"
                                    showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains"
                                    converter="entityConverter">
                            <p:column style="width:75%;">
                                <h:outputText value="#{user.email}"/>
                            </p:column>
                        </p:pickList>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:commandButton value="Create" update="msg :meetingsForm" id="createButton"
                                         action="#{actionsBean.create}"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column id="msg">
                        <h:outputText style="color: red" value="#{actionsBean.error}" id="error"/>
                        <h:outputText style="color: green" value="#{actionsBean.success}" id="success"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:panel>
    </h:form>
    <h:form id="meetingsForm">
        <p:panel visible="#{userSession.loggedIn}" rendered="#{userSession.loggedIn}" header="My Meetings">
            <p:dataList value="#{actionsBean.myMeetings}" var="meet" paginator="true" rows="10">
                <p:link outcome="#{navigation.meeting}" value="#{meet.name}">
                    <f:param name="id" value="#{meet.id}"/>
                </p:link>
            </p:dataList>
        </p:panel>
        <p:panel visible="#{userSession.loggedIn}" rendered="#{userSession.loggedIn}" header="All Meetings">
            <p:dataList value="#{actionsBean.meetings}" var="meet" paginator="true" rows="10">
                <p:link outcome="#{navigation.meeting}" value="#{meet.name}">
                    <f:param name="id" value="#{meet.id}"/>
                </p:link>
            </p:dataList>
        </p:panel>
    </h:form>
</h:body>
</html>
