<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:p="http://primefaces.org/ui">
<f:view>
    <f:metadata>
        <f:viewParam name="id" value="#{meetingBean.id}"/>
        <f:event type="preRenderView" listener="#{meetingBean.init}"/>
    </f:metadata>
    <h:head>
        <title>Meeting #{meetingBean.meeting.name}</title>
    </h:head>
    <h:form>
        <p:panel>
            <h:link outcome="#{navigation.home}" value="Home"/>
            <p:spacer width="30" height="1"/>
            <h:link outcome="#{navigation.register}" value="Register"/>
            <p:spacer width="30" height="1"/>
            <h:link outcome="#{navigation.login}" value="Login"/>
            <p:spacer width="30" height="1"/>
            <p:commandLink action="#{userSession.logout}" value="Log Out"/>
            <p:spacer width="30" height="1"/>
            <p:link outcome="#{navigation.actions}" value="Actions"/>
        </p:panel>
        <h:outputLabel value="#{meetingBean.error}" style="color: red; font-size: 30px"/>
        <p:panel visible="#{userSession.loggedIn}">
            <p:panelGrid id="meetingPanel">
                <p:row>
                    <p:column>
                        <p:outputLabel value="Name"/>
                        <p:inputText value="#{meetingBean.meeting.name}" disabled="true"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Objective"/>
                        <p:inputText value="#{meetingBean.meeting.objective}" disabled="true"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Start Date"/>
                        <p:calendar value="#{meetingBean.meeting.startDate}" pattern="MM/dd/yyyy HH:mm:ss" id="startDate"
                                    disabled="true"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="End Date"/>
                        <p:calendar value="#{meetingBean.meeting.endDate}" pattern="MM/dd/yyyy HH:mm:ss" id="endDate"
                                    disabled="true"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:panel header="Participants">
                            <p:dataList value="#{meetingBean.meeting.participants}" var="user" paginator="true"
                                        rows="10">
                                <h:outputLabel value="#{user.email}"/>
                            </p:dataList>
                        </p:panel>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:panel>
    </h:form>
</f:view>
</html>
