<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Register</title>
</h:head>
<h:body>
    <h:form id="registerForm">
        <p:panel>
            <h:link outcome="#{navigation.home}" value="Home"/>
            <p:spacer width="30" height="1"/>
            <h:link outcome="#{navigation.register}" value="Register"/>
            <p:spacer width="30" height="1"/>
            <h:link outcome="#{navigation.login}" value="Login"/>
            <p:spacer width="30" height="1"/>
            <p:commandLink action="#{userSession.logout}" value="Log Out"/>
            <p:spacer width="30" height="1"/>
            <p:link outcome="#{navigation.actions}" value="Actions"/>
        </p:panel>
        <p:panel header="Register" >
            <p:panelGrid id="registerPanel">
                <p:row>
                    <p:column>
                        <p:outputLabel value="First Name"/>
                        <p:inputText value="#{registerBean.firstName}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Last Name"/>
                        <p:inputText value="#{registerBean.lastName}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Email Adrr"/>
                        <p:inputText value="#{registerBean.email}"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Password"/>
                        <p:password value="#{registerBean.password}"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:commandButton value="Register" update="error" id="registerButton"
                                         action="#{registerBean.register}" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <h:outputText style="color: red" value="#{registerBean.error}" id="error" />
                    </p:column>
                </p:row>
            </p:panelGrid>
        </p:panel>
    </h:form>
</h:body>
</html>

