<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>
    <h:head>
        <title>Home</title>
    </h:head>
    <h:form>
        <p:panel>
            <h:link outcome="#{navigation.home}" value="Home"/>
            <p:spacer width="30" height="1"/>
            <h:link outcome="#{navigation.register}" value="Register"/>
            <p:spacer width="30" height="1"/>
            <h:link outcome="#{navigation.login}" value="Login"/>
            <p:spacer width="30" height="1"/>
            <p:commandLink action="#{userSession.logout}" value="Log Out"/>
            <p:spacer width="30" height="1"/>
            <p:link outcome="#{navigation.actions}" value="Actions"/>
        </p:panel>
    </h:form>
</f:view>
</html>
